@font-face {
  src: url(dauphin_[allfont.net].ttf);
  font-family: "project font";
}
.a {
  /* border: 2px solid rgb(225, 8, 8); */
  height: 900px;
  width: 1210px;
  margin: auto;
  text-align: justify;
  font-size: 15px;
}
.b {
  /* border: 2px  solid black; */
  height: 300px;
  width: 1210px;
  margin: auto;
  font-family: "project font";
}
.c {
  /* border: 2px  solid rgb(71, 172, 112); */
  height: 300px;
  width: 600px;

  display: inline-block;
}
.d {
  /* border: 2px solid rgb(52, 22, 185); */
  height: 300px;
  width: 600px;
  margin-right: auto;
  display: inline-block;
}
.e {
  /* border: 2px  solid rgb(174, 25, 114); */
  height: 300px;
  width: 600px;
  margin-right: auto;
  display: inline-block;
}
.f {
  /* border: 2px solid rgb(173, 218, 10); */
  height: 300px;
  width: 600px;
  margin-right: auto;
  display: inline-block;
}
.g {
  font-size: 70px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  padding-top: 0%;
}
.h {
  margin: 10px 10px 5px 10px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  font-style: italic;
  font-weight: 500;
}
.i {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  font-weight: 400;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: -0.17em;
  margin-block-end: -4.17em;
  margin-inline-start: 78px;
  font-weight: 500;
}
h5 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 50;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
  padding: 13%;
}
.love {
  font-weight: 200;
  
}
p{
  margin: 5px 10px 20px 10px;
  font-size: 13px;
  line-height: 14px;
  text-align: center;font-family: 'Times New Roman', Times, serif;
}
.line{
  line-height: 10px;
}